<div class="view">
  <div class="layout layout--column layout--top">
    <div class="grid grid--cols-2 gap--large">
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <div>{{ svg_outage_marker }} <span class="value value--medium value--tnums" data-value-format="true">{{ customer_count | number_with_delimiter | default: 0 }}</span></div>
          <div><span class="label label--small">Customers Without Power</span></div>
        </div>
      </div>
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <div class="value value--small">{{ formatted_update_time }}</div>
          <div><span class="label label--small">Last Updated</span></div>
        </div>
      </div>
      <div class="col col--span-2">
        <div
          id="wego-map"
          class="wego-map"
          style="overflow: hidden;">
          <div id="nes-map-canvas" style="width:100%; height:320px;">Loading ...</div>
        </div>
      </div>
    </div>
  </div>
  <div class="title_bar">
    <img class="image" src="https://raw.githubusercontent.com/stephenyeargin/trmnl-nashville-electric-service/refs/heads/main/assets/nes.svg" />
    <span class="title">Service Outages</span>
    <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
  </div>
</div>
